<form name="vm.reviewForm" ng-submit="vm.addHotel()">
  Your name: <input type="text" name="name" required ng-minlength="2" ng-model="vm.name">
  <div ng-show="vm.reviewForm.name.$dirty && vm.reviewForm.name.$invalid && vm.isSubmitted">
    <p>Name should be more than 2 characters long</p>
  </div>

  Your rating: <input type="number" name="stars" required ng-pattern="/^[1-5]$/" ng-model="vm.stars">
  <div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
    <p>Rating must be between 1-5.</p>

  </div>

  Your Description: <textarea name="description" required ng-model="vm.description"></textarea>
  <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
    <p>Please add a description</p>
  </div>

  <button type="submit" class="btn">Add hotel</button>
</form>
